.course-card-molecule {
  width: 354px;
  border: 2px solid #e9ecef;
}
.small-card-molecule {
  border: 2px solid #e9ecef;
}

.answer-card-molecule {
  width: 100%;
  border: 2px solid transparent;
}
.course-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.course-card-molecule:hover {
  @apply border-primary-500;
}

.active-card {
  border: -0.5px solid;
  @apply border-primary-500;
}

.answer-box {
  width: 500px;
}
